<p>market-data works!</p>

<h5>Single</h5>
<ng-container *rxLet="assets$ as assets">
   <p-dropdown [options]="assets"
               [ngModel]="selectedAsset$ | push"
               [placeholder]="'Select a City'"
               [filter]="true" filterBy="name"
               optionLabel="name"
               [name]="'asset_id'"
               [optionValue]="'name'"
               [virtualScroll]="true"
               [itemSize]="31"
               (onChange)="selectAsset($event)"></p-dropdown>
</ng-container>

<div>Price: {{ (realTimeTrade$ | async )?.price ?? '-' }}</div>

<div>Data: {{ ((realTimeTrade$ | async )?.time | date:'short':'UTC') ?? '-' }}</div>